{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"],
  "tailwindPreserveWhitespace": false,
  "tailwindPreserveDuplicates": false,
  "tailwindFunctions": ["tw"]
}
